{% extends "layout.html" %}

{% block container %}
	{% include "steps.html" %}

	{% include "supplier/form/company_revenue_form.html" %}	
{% endblock %}

{% block page_js %}
<script type="text/javascript">

pr.controller('CompRevController',['$scope', '$http', function ($scope, $http) {
    $scope.init = function(){
        console.log("Supplier Company Revenue controller...");
        var sup_id = $("#id_supplier").val();
        // var url = "/supplier/profile/company/revenue/api/"+sup_id+"/"
        // $http({method: 'GET', url: url}).
        //     success(function(data, status, headers, config) {
        // });
    }
    $scope.init();

}]);

</script>
{% endblock %}