<div class="row" style="margin-top:10px; margin-bottom: 20px;">
	

	<div class="col-md-2 col-md-offset-1">
		<button class="btn btn-primary btn-lg" ng-disabled='is_this_step1'>STEP 1</button>
	</div>
	<div class="col-md-2">
		<span class="arrow">>></span>
	</div>
	<div class="col-md-2">
		<button class="btn btn-default btn-lg" ng-disabled="{[{is_this_step2}]}">STEP 2</button>
	</div>
	<div class="col-md-2">
		<span class="arrow"></span>
	</div>
	<div class="col-md-2">
		<button class="btn btn-defalut btn-lg" ng-disabled="{[{is_this_step3}]}">STEP 3</button>
	</div>
	
</div>